@model MIS.ViewModels.AppointmentsViewModel;
@{
    ViewData["Title"] = "Appointment";
}
<main>
    <h2>Appointment</h2>
    <div class="app-doctor-info">
        <div class="doc-img">
            <img src="" alt="Doctor image" />
            <!-- <input type="submit" value="Вибрати" class="choose-doctor-button" /> -->
        </div>
        <div class="doc-val">
            <span>@Model.User.Declarations.Employee.LastName @Model.User.Declarations.Employee.FirstName @Model.User.Declarations.Employee.MiddleName</span>
            <span>@Model.User.Declarations.Employee.PhoneNumber</span>
            <span>@Model.User.Declarations.Employee.Msp.Name</span>
            <span>@Model.User.Declarations.Employee.Msp.Address</span>
        </div>
    </div>
    <div class="app-time-choose-container">
        <table class="app-time-choose-table">
            <thead>
                <tr>
                    <th id="data1">@Model.Appointments[0].DateTime.Date.ToString("yyyy-MM-dd")</th>
                    <th id="data2">@Model.Appointments[4].DateTime.Date.ToString("yyyy-MM-dd")</th>
                </tr>
            </thead>
            <tbody id="app-time-choose-body">
                @for (int i = 0; i < Model.Appointments.Count/2; i++)
                {
                    <tr>
                        <td>
                            <form method="post" asp-controller="Home" asp-action="CreateAppointment">
                                @Html.HiddenFor(Model => Model.Appointments[i].AppointmentId, new { @name = "AppointmentId" })
                                @if(Model.Appointments[i].Status=="free"){
                                <button type="submit">@Model.Appointments[i].DateTime.TimeOfDay</button>
                                }else{
                                    <button type="submit" disabled>@Model.Appointments[i].DateTime.TimeOfDay</button>
                                }
                            </form>
                        </td>
                        <td>
                            <form>
                                @Html.HiddenFor(Model => Model.Appointments[i+4].AppointmentId, new { @name = "AppointmentId" })
                                @if(Model.Appointments[i+4].Status=="free"){
                                <button type="submit">@Model.Appointments[i+4].DateTime.TimeOfDay</button>
                                }else{
                                    <button type="submit" disabled>@Model.Appointments[i+4].DateTime.TimeOfDay</button>
                                }
                            </form>        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
<script src="~/js/appointment.js"></script>

