@model MIS.ViewModels.UserPageViewModel;
<main>
    <div class="msp-info">
    <h3>Дані про вас:</h3>
    <div>
        <p class="user-text">ПІБ: <span class="doctor-page-info">@Model.User.FirstName </span>
            <span class="doctor-page-info">@Model.User.MiddleName </span>
            <span class="doctor-page-info">@Model.User.LastName</span>
        </p>
        <p class="user-text">Пошта: @Model.User.Email</p>
        <p class="user-text">Номер телефону: @Model.User.PhoneNumber</p>
    </div>
<h3>Історія прийомів:</h3>
<div class="doctor-msp">
        <table id="doctor-msp-table" class="table-top-width">
            <thead id="doctor-msp-thead">
                <th class="long-th">Номер декларації</th>
                <th class="long-th">Ім'я пацієнта</th>
                <th class="long-th">Дата</th>
                <th class="long-th">Статус</th>
            </thead>
            <tbody id="doctor-msp-table-body">
            @foreach(var item in Model.User.AppointmentsU){
                <tr>
                    <td>@item.DateTime</td>
                    <td>@item.Status</td>
                </tr>                
            }
            </tbody>
        </table>
        </div>

    </div>
</main>