@model MIS.ViewModels.OwnerPageViewModel;
@{
    ViewData["Title"] = "OwnerPage";
}
@if (!@User.IsInRole("admin")) {
<main>

    <div class="owner-info"></div>
    @if(Model.Owner.MspId == null){
        <div id="create-msp">
            <h2>Ще не зареєстрували свій медичний заклад?</h2>
            <div class="link-msp">
                <button id="add-msp-button" class="corners register-button">Зареєструйте медичний заклад зараз!</button>
            </div>
        </div>
    
    
    <div id="add-msp" class="popup-msp-doctor">
        <div class="form-container register-container column">
            <form id="add-msp-form"class="column" method="post" asp-controller="Home" asp-action="CreateMsp">
                <div id="error-msp" class="error"></div>
                <div class="row">
                    <div class="input-group column">
                        <label for="name-msp" class="register-label pointer">Назва закладу:<span class="redstar">*</span></label>
                        <input type="text"
                               id="name-msp"
                               class="register-input corners line-height-fix" 
                               name="Name"/>
                    </div>
                    <div class="input-group column">
                        <label for="adress-msp" class="register-label pointer">Адреса закладу:<span class="redstar">*</span></label>
                        <input type="text"
                               id="adress-msp"
                               class="register-input corners line-height-fix"
                               name="Edrpou" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group button-container column">
                        <label for="edrp" class="register-label pointer">Код ЄДРПОУ:<span class="redstar">*</span></label>
                        <input type="text"
                                name="Address"
                               id="edrp"
                               class="register-input corners line-height-fix" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group button-container  column">
                        <button type="submit" id="register-msp-btn"
                                class="register-button corners line-height-fix">
                            Додати заклад
                        </button>
                        <button id="cancel-msp"
                                class="register-button corners line-height-fix">
                            Повернутися
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/ownerDoctor.js"></script>
    } else{
    <div class="msp-info">
        <h2 id="msp-name">
            @Model.Owner.Msp.Name
        </h2>
        <div class="msp-statistics">
            <div class="msp-box corners">
                <span class="msp-box-text">
                    Кількість декларацій, зареєстрованих у медичному закладі:
                </span>
                <span class="msp-span">
                    @Model.Declarations.Count
                </span>
            </div>
            <div class="msp-box corners">
                <span class="msp-box-text">Середній приріст декларацій за день:</span>
                <span class="msp-span"></span>
            </div>
            <div class="msp-box corners">
                <span class="msp-box-text">Кількість працівників: </span>
                <span class="msp-span">
                    @Model.UserList.Where(x => x.MspId == Model.Owner.MspId).Count()
                </span>
            </div>
        </div>
        <div class="doctor-msp">
            <table id="doctor-msp-table">
                <thead id="doctor-msp-thead">
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>По-батькові</th>
                <th>Телефон</th>
                <th>Пошта</th>
                <th>ІНН</th>
                <th>Народження</th>
                <th>Дії</th>
                </thead>
                <tbody id="doctor-msp-table-body">
                    @foreach(var item in Model.UserList){
                        if(@item.MspId == Model.Owner.MspId){
                        <tr>
                            <td>@item.LastName</td>
                            <td>@item.FirstName</td>
                            <td>@item.MiddleName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.TaxId</td>
                            <td>@item.BirthDate</td>
                            <td class="link-hover">
                                <form asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" class="table-links">
                                        Видалити
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="link-doctor-msp">
            <button id="add-doctor"
                    class="add-doctor-link corners register-button">
                Призначити нового лікаря
            </button>
        </div>
    </div>
    <div id="popup-msp-doctor" class="popup-msp-doctor">
        <div class="form-container register-container column">
            <form id="add-doctor-form" class="column" method="post" asp-controller="Home" asp-action="CreateDoctor">
                <div id="error" class="error"></div>
                <div class="row">
                    <div class="input-group column">
                        <label for="first-name" class="register-label pointer">Ім'я:<span class="redstar">*</span></label>
                        <input type="text"
                               name="FirstName"
                               id="first-name"
                               class="register-input corners line-height-fix" />
                    </div>
                    <div class="input-group column">
                        <label for="middle-name" class="register-label pointer">По-батькові:<span class="redstar">*</span></label>
                        <input type="text"
                               name="MiddleName"
                               id="middle-name"
                               class="register-input corners line-height-fix" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group column">
                        <label for="second-name" class="register-label pointer">Прізвище:<span class="redstar">*</span></label>
                        <input type="text"
                               name="LastName"
                               id="second-name"
                               class="register-input corners line-height-fix top-input" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group column">
                        <label for="email" class="register-label pointer">Електронна пошта:<span class="redstar">*</span></label>
                        <input type="email"
                               name="Email"
                               id="email"
                               class="register-input corners line-height-fix" />
                    </div>
                    <div class="input-group column">
                        <label for="phone" class="register-label pointer">Телефон:<span class="redstar">*</span></label>
                        <input type="text"
                               name="PhoneNumber"
                               id="phone"
                               class="register-input corners line-height-fix" />
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-group column">
                        <label for="gender" class="register-label">Стать:<span class="redstar">*</span></label>
                        <select name="Gender"
                                id="gender"
                                class="register-input corners pointer line-height-fix">
                            <option value="not-chosen" disabled selected>Не вибрано</option>
                            <option value="male" class="pointer">Чоловіча</option>
                            <option value="female" class="pointer">Жіноча</option>
                        </select>
                    </div>
                    <div class="input-group column">
                        <label for="adress" class="register-label pointer">Адреса:<span class="redstar">*</span></label>
                        <input type="text"
                               name="adress"
                               id="adress"
                               class="register-input corners line-height-fix" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group column">
                        <label for="ident-code" class="register-label pointer">Ідентифікаційний код<span class="redstar">*</span></label>
                        <input type="text"
                               name="TaxId"
                               id="ident-code"
                               class="register-input corners line-height-fix" />
                    </div>
                    <div class="input-group column">
                        <label for="date-of-birth" class="register-label pointer">Дата народження<span class="redstar">*</span></label>
                        <input type="date"
                               name="BirthDate"
                               id="date-of-birth"
                               class="register-input corners pointer line-height-fix"
                               min="1900-01-01"
                               value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-group button-container  column">
                        <button type="submit" id="register-btn"
                                class="register-button corners line-height-fix">
                            Призначити лікаря
                        </button>
                        <button id="cancel"
                                class="register-button corners line-height-fix">
                            Повернутися
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/ownerDoctorMspExists.js"></script>
    }
    
</main>
}